/* You can add global styles to this file, and also import other style files */
body {
    background-color: gray;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    font-family: Arial, sans-serif;
    /* background-color: #5c5c5c; */
    /* margin-top: 1%; */
    border: 1px solid #ccc;
    border-radius: 5px;
    /* color: white; */
}